.banner {
  width: 100%;
  padding: 128px 0px;  
  background-image: url("https://cdn.shopify.com/s/files/1/0041/9525/4381/files/breadcrumb-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}