.shipping_details_step {      
  margin-top: 32px;
  display: flex;
  flex-direction: column;

  input {
    margin-top: 16px;
    height: 40px;
  }

  .buttons_area {
    margin-top: 32px;

    a {
      margin-left: 16px;
    }
  }
}