.middle_area {
  line-height: 30px;
  padding-top: 64px;
  padding-bottom: 64px;

  .heading {
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 32px;
  }

  li {
    margin-bottom: 16px;
  }
}