@import "../bar_styles/bar.module.scss";

.filter_bar {
  @extend .bar;
  display: flex;
  align-items: center;

  select {
    margin-left: 16px;
  }

  .product_count {
    margin-left: auto;    
    text-align: center;
  }
}