.main_section {
  margin-top: 64px;

  img {
    width: 100%;
  }  

  .right_area {    
    .heading {
      display: flex;
      align-items: center;

      .wishlist {
        margin-left: 8px;
      }

      .name {
        font-weight: 600;
        font-family: Poppins;
      }
    }

    .vendor {
      color: black;
    }
  }
}