.main_section {
  margin-top: 64px;

  .pictures_area {
    .thumbnails {
      display: flex;

      .thumbnail {
        display: inline-flex;
        margin-right: 16px;                
      }

      .thumbnail_selected {
        @extend .thumbnail;
        border: 2px solid black;
      }
    }    
  }

  .right_area {    
    .heading {
      display: flex;
      align-items: center;

      .wishlist {
        margin-left: 8px;
      }

      .name {
        font-weight: 600;
        font-family: Poppins;
      }
    }

    .vendor {
      color: black;
    }
  }
}