.clients_section {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;

  .image {
    position: relative;
    height: 64px;
    transition: 300ms;

    &:hover {
      transform: scale(1.2);
    }
  }
}